.only .el-form-item__label,.only1 .el-form-item__label,.xjdj_jcnr .el-form-item__label {
    color: #089fb1 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    margin-bottom: 20px !important;
    width: 450px !important;
    left: -80px;
    position: relative;
    font-weight: 700;
    text-align: left;
  }
  .shijian .el-form-item__content {
    width: 200px !important;
  }
  .xjdj_jcnr .el-form-item__label{
      left: 0;
  }
  .only1 .el-form-item__label {
    position: relative;
    font-weight: 700;
    text-align: left;  
  }
.el-submenu .el-menu-item{
    padding:0 !important;
}
// .tsjbsxyq .el-form-item .el-form-item__label {
//     width: 10% !important;
//   }
.el-badge {
    position: absolute !important;
    right: 25px !important;
}
.el-pagination .el-pager li:hover {
    color: #27B6C7 !important;
    /* color: #0a9daf; */
}

.el-pagination .el-pager li.active {
    background-color: #27B6C7 !important;
    color: #fff;
}

.el-pagination .el-pager li.active:hover {
    color: #fff !important;
}

.result_table .el-table__header-wrapper .has-gutter {
    color: #fff;
}

/* .el_table .el-table__header-wrapper .has-gutter {
    color: #fff !important;
} */
.el-col {
    // height: 62px !important;
}
/* 表单颜色 */
.el-button:focus,
.el-button:hover {
    color: #27B6C7 !important;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

.el-button--primary:focus,
.el-button--primary:hover {
    background-color: #27B6C7 !important;
    color: #FFF !important;
}

.el-button--primary {
    background-color: #27B6C7 !important;
    border-color: #27B6C7 !important;
}

.ajgl .cell {
    padding-left: 65px !important;
}

.ajgl .is-center {
    text-align: left !important;
}

.ajgl .move_txt {
    left: 30px;
}
.ajgl .result_txt2, .ajgl .result_txt {
    left: 20px !important;
}

a {
    text-decoration: none;
}

//分页的总条数
.el-pagination__total {
    margin-left: 50px;
}

// 显示暂无数据
.el-table__empty-text {
    font-size: 25px;
    padding: 60px 0;
    text-align: center;
}
.zwsj{
    font-size: 25px;
    text-align: center;
    padding: 60px 0; 
    color: #909399;
}
.require::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

.com_content .el-textarea__inner,
.require .el-textarea,
.Remarks .el-textarea,
.require .el-col,
.Remarks .el-col,
.require .el-form-item__content,
.Remarks .el-form-item__content {
  height: 100%;
  width: 100%;
//   resize: none;
}
.xcOpinion .el-textarea__inner,
.xcOpinion .el-textarea,
.xcOpinion .el-form-item__content,
.cbOpinion .el-textarea__inner,
.cbOpinion .el-textarea,
.cbOpinion .el-form-item__content,
.xcRemarks .el-textarea__inner,
.xcRemarks .el-textarea,
.xcRemarks .el-form-item__content {
  width: 100%;
  height: 100%;
}
.el-textarea__inner,.el-input__inner {
    font-size: 14px !important;
}

.el-dialog {

    position: absolute;
  
    top: 50%;
  
    left: 50%;
  
    margin: 0 !important;
  
    transform :translate(-50%, -50%);
  }
  .el-dialog__footer{
      text-align: center !important;
  }
  
  .clearfix:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }